@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin heading-format {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 3rem;
    margin-bottom: 4rem;
    letter-spacing: 1rem;
}