.about-me {
    font-size: $header-size;
    margin-bottom: 6rem;
    text-align: center;

    p {
      font-size: 2rem;   
    }

    a,
        &:visited {
        text-decoration: none;
        color: $color-grey;
    }

    a:hover {
        color: $color-main-two;
    }
}

.section-heading {
    @include heading-format;
}